/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: theme('colors.light.primary');
    --secondary-color: theme('colors.light.secondary');
    --accent-color: theme('colors.light.accent');
    --background-color: theme('colors.light.background');
    --text-color: theme('colors.light.text');
}

.dark {
    --primary-color: theme('colors.dark.primary');
    --secondary-color: theme('colors.dark.secondary');
    --accent-color: theme('colors.dark.accent');
    --background-color: theme('colors.dark.background');
    --text-color: theme('colors.dark.text');
}